<div class="text-center my-24">

    <h1 class="text-xl my-4">BIENVENIDX NUEVAMENTE! <b>{{name}}</b></h1>

    <p class="text-gray-900 text-xl font-semibold">
        Aquí debe ir una breve descripción de lo que es y cómo funciona la agencia de viajes que se supone le estoy haciendo una página web.
    </p>

    <div class="my-14">
        <a href="/crearreserva" class="font-semibold bg-purple-400 text-xl text-white hover:bg-purple-500 px-8 py-4 text-center rounded-md mx-auto">
            Iniciar una nueva reserva
        </a>
    </div>
</div>